/FW/doxygen_out
*.bkp
/Hardware/ESP32-C3_Dev-backups
Hardware/fp-info-cache
/Hardware/production
/Hardware/bom
Housing/Housing.20260109-100905.FCBak
/nogit
fp-info-cache
Hardware/fabrication-toolkit-options.json
